
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

[class^="block"] {
    height: 100px;
    width: 100px; 
    background-color: gray;
    margin: 10px; 

}
.main{
    display: flex;
}